@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
* {
  font-family: "Avenir";
}

.navigation {
  height: 100px;
  background-color: #323232;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigation__bandsite {
  margin-left: 6vw;
  margin-right: 4vw;
}
.navigation__biography, .navigation__shows {
  margin-left: 4vw;
  margin-right: 4vw;
}
.navigation__biography a, .navigation__shows a {
  text-decoration: none;
}
.navigation__biography a p, .navigation__shows a p {
  color: white;
}

@media (max-width: 767px) {
  .navigation {
    height: 130px;
    background-color: #323232;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .navigation__bandsite {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    width: 100%;
  }
  .navigation__bandsite img {
    height: 30px;
  }
  .navigation__biography a, .navigation__shows a {
    text-decoration: none;
  }
  .navigation__biography a p, .navigation__shows a p {
    color: white;
    font-size: 20px;
  }
}
.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.hero__heading {
  margin-left: 3rem;
  font-size: 60px;
  color: white;
}

@media (max-width: 767px) {
  .hero {
    background-image: url("../assets/images/hero-bio.jpg");
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero__heading {
    margin-left: 3rem;
    font-size: 30px;
    color: white;
  }
}
main .musicians {
  font-size: 50px;
  padding-top: 48px;
  padding-bottom: 36px;
  padding-left: 36px;
  padding-right: 36px;
  margin: 0;
}
main #musician-image {
  display: flex;
  justify-content: center;
}
main #musician-image img {
  height: 500px;
  width: 750px;
}
main .musician {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .musician__dialogue {
  width: 750px;
  font-size: 24px;
  font-weight: 600;
}
main .musician__author {
  width: 750px;
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
}
main .musician__bees-knees {
  width: 750px;
  font-size: 24px;
  font-weight: 600;
  margin-top: 50px;
}
main .musician__colom {
  width: 750px;
  display: flex;
  justify-content: space-between;
}
main .musician__colom__colom1, main .musician__colom__colom2 {
  font-size: 14px;
  font-weight: 400;
}
main .photo-galary__heading {
  font-size: 50px;
  padding-left: 36px;
  padding-right: 36px;
}
main .photo-galary__photoes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main .photo-galary__photoes img {
  width: 30%;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  main .musicians {
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
  }
  main #musician-image {
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
  main #musician-image img {
    max-width: 100%;
  }
  main .musician {
    margin-left: 16px;
    margin-right: 16px;
  }
  main .musician__dialogue, main .musician__author {
    font-weight: 700;
    font-size: 14px;
    max-width: 100%;
  }
  main .musician__bees-knees {
    max-width: 100%;
    font-weight: 600;
    font-size: 14px;
    margin-top: 2rem;
  }
  main .musician__colom {
    max-width: -moz-fit-content;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
  }
  main .musician__colom__colom1, main .musician__colom__colom2 {
    margin-top: 0;
    font-size: 14px;
    font-weight: 400;
  }
  main .photo-galary {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
  }
  main .photo-galary__heading {
    padding: 0;
    font-size: 24px;
  }
  main .photo-galary__photoes {
    display: flex;
    flex-direction: column;
  }
  main .photo-galary__photoes img {
    width: 100%;
  }
}

footer {
  background-color: #323232;
}
footer .footer-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-upper__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-upper__left__h1 {
  margin-left: 3vw;
  margin-right: 3vw;
  font-size: 60px;
  font-weight: 600;
  color: white;
}
footer .footer-upper__left img {
  margin-right: 2rem;
  height: 30px;
}
footer .footer-upper__right {
  width: 20%;
}
footer .footer-middle {
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3vw;
  margin-right: 3vw;
}
footer .footer-middle__left__first {
  font-weight: 600;
  margin-bottom: 1.5rem;
}
footer .footer-middle__left__second {
  font-weight: 400;
  margin-bottom: 1.5rem;
}
footer .footer-middle__left__third {
  font-weight: 400;
}
footer .footer-middle__center__first {
  font-weight: 600;
  margin-bottom: 1.5rem;
}
footer .footer-middle__center__second {
  font-weight: 400;
  margin-bottom: 1.5rem;
}
footer .footer-middle__center__third {
  font-weight: 400;
}
footer .footer-middle__right__first {
  font-weight: 600;
  margin-bottom: 1.5rem;
}
footer .footer-middle__right__second {
  font-weight: 400;
  margin-bottom: 1.5rem;
}
footer .footer-middle__right__third {
  font-weight: 400;
}
footer .footer-lower {
  font-size: 14px;
  color: white;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  footer .footer-upper__left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  footer .footer-upper__left__h1 {
    font-size: 30px;
    font-weight: 700;
    width: 100%;
  }
  footer .footer-upper__left img {
    margin-left: 3.5vw;
    height: 18px;
  }
  footer .footer-upper__right {
    display: none;
  }
  footer .footer-middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .footer-lower__logo {
    background-image: url("../assets/logos/Logo-bandsite.svg");
    height: 20px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}/*# sourceMappingURL=bio.css.map */