@use "./partials/mixins" as *;
@use "./partials/fonts" as *;

$bandsite-black: #323232;
* {
  font-family: "Avenir";
}
.navigation {
  height: 100px;
  background-color: $bandsite-black;
  display: flex;
  justify-content: space-evenly;

  @include tablet {
    &__start {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 45vw;
    }
    &__start a {
      text-decoration: none;
    }
    &__bandsite a img {
      width: 120px;
      height: 20px;
    }
    &__biography p {
      font-size: 20px;
      font-weight: 400;
      color: white;
    }
    &__middle {
      width: 30vw;
    }
    &__end {
      width: 25vw;
    }
  }
  @include desktop {
    &__start {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 45vw;
    }
    &__start a {
      text-decoration: none;
    }
    &__bandsite a img {
      width: 120px;
      height: 20px;
    }
    &__biography p {
      font-size: 18px;
      color: white;
    }
    &__middle {
      width: 30vw;
    }
    &__end {
      width: 25vw;
    }
  }
  @include mobile {
    &__start {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 100vw;
    }
    &__bandsite {
      display: flex;
      justify-content: center;
      width: 100vw;
    }
    &__start a {
      text-decoration: none;
    }
    &__bandsite a img {
      padding-top: 1rem;
      width: 120px;
      height: 20px;
    }
    &__biography p {
      font-size: 18px;
      color: white;
    }
  }
}
.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  &__heading {
    margin-left: 3rem;
    font-size: 60px;
    color: white;
  }
}
@include mobile {
  .hero {
    background-image: url("../assets/images/hero-bio.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;

    &__heading {
      margin-left: 3rem;
      font-size: 30px;
      color: white;
    }
  }
}

main {
  @include tablet {
    .musicians {
      font-size: 50px;
      padding-top: 48px;
      padding-bottom: 36px;
      padding-left: 36px;
      padding-right: 36px;
      margin: 0;
    }
    #musician-image {
      display: flex;
      justify-content: center;
    }
    #musician-image img {
      height: 500px;
      width: 750px;
    }
    .musician {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__dialogue {
        width: 750px;
        font-size: 28px;
        font-weight: 600;
      }
      &__author {
        width: 750px;
        font-size: 25px;
        font-weight: 600;
        margin: 0px;
      }
    }
    .bees-knees {
      padding-left: 36px;
      font-size: 60px;
    }
  }
}
