@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff2") format("opentype");
  font-weight: 400;
}
body {
  font-family: "Avenir", sans-serif;
  box-sizing: border-box;
}

.navigation {
  height: 100px;
  background-color: #323232;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigation__bandsite {
  margin-left: 6vw;
  margin-right: 4vw;
}
.navigation__biography, .navigation__shows {
  margin-left: 4vw;
  margin-right: 4vw;
}
.navigation__biography a, .navigation__shows a {
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
}
.navigation__biography a:hover, .navigation__shows a:hover {
  font-weight: 700;
}
.navigation__biography .nav__link--active, .navigation__shows .nav__link--active {
  border-bottom: rgb(255, 255, 255) 2px solid;
}

@media (max-width: 767px) {
  .navigation {
    height: 130px;
    background-color: #323232;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .navigation__bandsite {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    width: 100%;
  }
  .navigation__bandsite img {
    height: 30px;
  }
  .navigation__biography, .navigation__shows {
    width: 50%;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .navigation__biography a, .navigation__shows a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
  }
  .navigation__biography .nav__link--active, .navigation__shows .nav__link--active {
    border-bottom: white 2px solid;
  }
}
@media (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.388), rgba(0, 0, 0, 0.347)), url("../assets/images/hero-bio.jpg");
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero__heading {
    margin-left: 3rem;
    font-size: 30px;
    color: white;
  }
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.388), rgba(0, 0, 0, 0.347)), url("../assets/images/hero-bio.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.hero__heading {
  margin-left: 3rem;
  font-size: 60px;
  color: white;
}

main .musicians {
  font-size: 50px;
  padding-top: 48px;
  padding-bottom: 36px;
  padding-left: 36px;
  padding-right: 36px;
  margin: 0;
}
main .musician-image {
  display: flex;
  justify-content: center;
}
main .musician-image img {
  height: 500px;
  width: 750px;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
}
main .musician-image img:hover {
  -webkit-transform: scale(1.1);
}
main .musician {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .musician__dialogue {
  width: 750px;
  font-size: 24px;
  font-weight: 600;
}
main .musician__author {
  width: 750px;
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
}
main .musician__bees-knees {
  width: 750px;
  font-size: 24px;
  font-weight: 600;
  margin-top: 50px;
}
main .musician__colom {
  width: 750px;
  display: flex;
  justify-content: space-between;
}
main .musician__colom__colom1, main .musician__colom__colom2 {
  font-size: 14px;
  font-weight: 400;
}
main .photo-galary__heading {
  font-size: 50px;
  padding-left: 36px;
}
main .photo-galary__photoes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main .photo-galary__photoes img {
  width: 30%;
  margin-bottom: 1rem;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
}
main .photo-galary__photoes img:hover {
  transform: scale(1.1);
}
@media (max-width: 767px) {
  main .musicians {
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
  }
  main .musician-image {
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
  main .musician-image img {
    max-width: 100%;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
  }
  main .musician-image img:hover {
    transform: scale(1.1);
  }
  main .musician {
    margin-left: 16px;
    margin-right: 16px;
  }
  main .musician__dialogue, main .musician__author {
    font-weight: 700;
    font-size: 14px;
    max-width: 100%;
  }
  main .musician__bees-knees {
    max-width: 100%;
    font-weight: 600;
    font-size: 14px;
    margin-top: 2rem;
  }
  main .musician__colom {
    max-width: -moz-fit-content;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
  }
  main .musician__colom__colom1, main .musician__colom__colom2 {
    margin-top: 0;
    font-size: 14px;
    font-weight: 400;
  }
  main .photo-galary {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
  }
  main .photo-galary__heading {
    padding: 0;
    font-size: 24px;
  }
  main .photo-galary__photoes {
    display: flex;
    flex-direction: column;
  }
  main .photo-galary__photoes img {
    width: 100%;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
  }
  main .photo-galary__photoes img:hover {
    transform: scale(1.1);
  }
}
main .join-the-conv h1 {
  font-size: 50px;
  padding-left: 36px;
}
main .join-the-conv__authors {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .join-the-conv__authors__new {
  width: 50vw;
}
main .join-the-conv__authors__new p {
  width: 40%;
  margin-inline-start: 18%;
  font-size: 13px;
  color: #AFAFAF;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 20px;
}
main .join-the-conv__authors__new input {
  width: 60%;
  height: 48px;
  margin-inline-start: 18%;
  border: 1px solid #e1e1e1;
  padding: 16px;
}
main .join-the-conv__authors__new input:active {
  border: 1px solid #323232;
}
main .join-the-conv__authors__new .contentfield {
  border: 1px solid #d22d2d;
}
main .join-the-conv__authors__new button {
  background-color: #323232;
  color: white;
  margin-top: 30px;
  margin-left: 59%;
  margin-bottom: 15px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 15px;
  font-weight: 600;
  width: 150px;
  height: 40px;
  border-radius: 4px;
}
main .join-the-conv__authors__new button:hover {
  background-color: black;
}
main .join-the-conv__authors__new .error-message {
  color: red;
  text-align: center;
  font-weight: 600;
}
@media (max-width: 767px) {
  main .join-the-conv__authors__new {
    width: 100vw;
  }
  main .join-the-conv__authors__new button {
    margin-left: 18%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 65vw;
    height: 40px;
  }
  main .join-the-conv__authors__new button:hover {
    background-color: black;
  }
  main .join-the-conv__authors__new .error-message {
    color: red;
    text-align: center;
    font-weight: 600;
  }
}
main .join-the-conv__authors__existing {
  width: 50vw;
}
main .join-the-conv__authors__existing .author-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .join-the-conv__authors__existing .author-list__img {
  width: 48px;
  height: 48px;
  background-color: #e1e1e1;
  border-radius: 50%;
}
main .join-the-conv__authors__existing .author-list .name-date {
  width: 70%;
}
main .join-the-conv__authors__existing .author-list .name-date__divide {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main .join-the-conv__authors__existing .author-list .name-date__divide p {
  font-size: 13px;
  font-weight: 700;
}
main .join-the-conv__authors__existing .author-list .name-date__divide span {
  margin-top: 16px;
  font-size: 13px;
  font-weight: 400;
  color: #AFAFAF;
}
main .join-the-conv__authors__existing .author-list__comment {
  font-size: 13px;
  font-weight: 400;
  margin-top: 0%;
  width: 100%;
}
main .join-the-conv__authors__existing .author-list__button {
  width: 15%;
  display: flex;
  align-items: center;
}
main .join-the-conv__authors__existing .author-list__button button {
  width: 100%;
  background-color: #323232;
  height: 2rem;
  border-radius: 3%;
  color: white;
}
main .join-the-conv__authors__existing .error-message {
  color: red;
  text-align: center;
  font-weight: 600;
}
@media (max-width: 767px) {
  main .join-the-conv__authors__existing {
    width: 100vw;
  }
  main .join-the-conv__authors .error-message {
    color: red;
    text-align: center;
    font-weight: 600;
  }
}

footer {
  background-color: #323232;
}
footer .footer-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-upper__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-upper__left__h1 {
  margin-left: 3vw;
  margin-right: 3vw;
  font-size: 60px;
  font-weight: 600;
  color: white;
}
footer .footer-upper__left img {
  margin-right: 2rem;
  height: 30px;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
}
footer .footer-upper__left img:hover {
  transform: scale(1.3);
}
footer .footer-upper__right {
  width: 20%;
}
footer .footer-middle {
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3vw;
  margin-right: 3vw;
}
footer .footer-middle .footer-component__first {
  font-weight: 600;
  margin-bottom: 1.5rem;
}
footer .footer-middle .footer-component__second {
  font-weight: 400;
  margin-bottom: 1.5rem;
}
footer .footer-middle .footer-component__third {
  font-weight: 400;
}
footer .footer-lower {
  font-size: 14px;
  color: white;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  footer .footer-upper__left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  footer .footer-upper__left__h1 {
    font-size: 30px;
    font-weight: 700;
    width: 100%;
  }
  footer .footer-upper__left img {
    margin-left: 3.5vw;
    height: 18px;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
  }
  footer .footer-upper__left img:hover {
    transform: scale(1.6);
  }
  footer .footer-upper__right {
    display: none;
  }
  footer .footer-middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .footer-lower__logo {
    background-image: url("../assets/logos/Logo-bandsite.svg");
    height: 20px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}/*# sourceMappingURL=bio.css.map */